<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         strict="true"
         verbose="true">
       
  <testsuites>
    <testsuite name="Repeat">
      <directory suffix="Test.php">Tests/</directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-html" target="build/coverage" title="PHP Libraries"
         charset="UTF-8" yui="true" highlight="true"
         lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
  </logging>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php"></directory>
      <exclude>
        <file>Tests/bootstrap.php</file>
        <file>Tests/convertToRRuleTest.php</file>
        <file>Tests/convertToToodledoTest.php</file>
        <file>Tests/getNextDaysTest.php</file>
      </exclude>
    </whitelist>
  </filter>

</phpunit>
